<header class="header">
	<div class="container">
    	<div class="site-header clearfix">
            <div class="col-lg-3 col-md-3 col-sm-12 title-area">
                <div class="site-title" id="title">
                    <a href="login.html" title="">
                        <h4>INTER<span>COMPANY</span></h4>
                    </a>
                </div>
            </div><!-- title area -->
            <div class="col-lg-9 col-md-12 col-sm-12">
               <div id="nav" class="right">
                    <div class="container clearfix">
						<ul id="jetmenu" class="jetmenu blue">
							<li ng-class="{active:panel.isSelected(1)}" ng-show="panel.isAdmin()">
								<a href ng-click="panel.selectTab(1)">Companies</a>
							</li>
							<li ng-class="{active:panel.isSelected(2)}" ng-show="panel.isAdmin()">
								<a href ng-click="panel.selectTab(2)">Products</a>
							</li>
							<li ng-class="{active:panel.isSelected(3)}" ng-show="panel.isAdmin()">
								<a href ng-click="panel.selectTab(3)">Clients&Suppliers</a>
							</li>
							<li ng-class="{active:panel.isSelected(4)}" ng-hide="panel.isAdmin()">
								<a href ng-click="panel.selectTab(4)">Orders</a>
							</li>
							<li ng-class="{active:panel.isSelected(5)}" ng-hide="panel.isAdmin()">
								<a href ng-click="panel.selectTab(5)">Receipts</a>
							</li>
						</ul>
                    </div>
                </div><!-- nav -->
            </div><!-- title area -->

        </div><!-- site header -->

	</div><!-- end container -->
	<div class="panels-content">
		<!-- Panels -->
		<div id="erp" ng-controller="ERPController as erp">
			<div class="panel" ng-show="panel.isSelected(1)">
				<companies></companies>
			</div>
			<div class="panel" ng-show="panel.isSelected(2)">
				<products></products>
			</div>
			<div class="panel" ng-show="panel.isSelected(3)">
				<clients-suppliers></clients-suppliers>
			</div>
			<div class="panel" ng-show="panel.isSelected(4)">
				<orders></orders>
			</div>
			<div class="panel" ng-show="panel.isSelected(5)">
				<receipts></receipts>
			</div>
		</div>
	</div>
</header><!-- end header -->
