<p>receipts</p>
<div class="row">
  <div class="col-md-6" ng-hide="true">FORM</div>
  <div class="col-md-6">LIST</div>
</div>

<p>Make receipt to order</p>
<div class="row">
  <div class="col-md-6" ng-hide="true">
  	<h4>{{order.name}}</h4>
  	<h4>{{order.buyer}}</h4>
  	<h4>{{order.seller}}</h4>
  	<button type="button"> Generate receipt </button>
  </div>
  <div class="col-md-6">
  	<ul class="list-group">
		<li class="list-group-item" ng-repeat="receipt in erp.receipts">
			<h4>{{receipt.name}}</h4>
			<h4>{{receipt.buyer}}</h4>
			<h4>{{receipt.seller}}</h4>
			<h4>{{receipt.state}}</h4>
		</li>
	</ul>
  </div>
</div>

