<div class="row">
  <div class="col-md-6">
	  <button ng-click="erp.setModal()"> New </button>
  </div>
  <div class="col-md-6">
  	<ul class="list-group">
		<li class="list-group-item" ng-repeat="receipt in erp.receipts" ng-show="true">
			<h3>Receipt</h3>
			<h4>From:</h4>
			<p>{{receipt.from}}</p>
			<h4>To:</h4>
			<p>{{receipt.Entidade}}</p>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="product in receipt.LinhasDoc">
					<h4>Products:</h4>
					<h5>Name: </h5>
					<p>{{product.DescArtigo}}</p>
					<h5>Quantity: </h5>
					<p>{{product.Quantidade}}</p>
					<h5> Unit price: </h5>
					<p>{{product.PrecoUnitario}}$</p>
				</li>
			</ul>
			<h5> Total price: </h5>
			<p>{{receipt.TotalMerc}}</p>
		</li>
	</ul>
  </div>
</div>

<div class="modal fade" id="newReceiptModal" tabindex="-1" role="dialog" aria-labellebdy="newReceiptLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
	  		<div class="modal-header">
	    		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	    		<h4 class="modal-title" id="newReceiptLabel">Pending orders</h4>
	 		</div>
	  		<div class="modal-body">
	    		<li class="list-group-item" ng-repeat="order in erp.orders" ng-if="order.state == 'pending'">
					<h3>Order</h3>
					<h4>From:</h4>
					<p>{{order.from}}</p>
					<h4>To:</h4>
					<p>{{order.Entidade}}</p>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="product in order.LinhasDoc">
							<h4>Products:</h4>
							<h5>Name: </h5>
							<p>{{product.DescArtigo}}</p>
							<h5>Quantity: </h5>
							<p>{{product.Quantidade}}</p>
							<h5> Unit price: </h5>
							<p>{{product.PrecoUnitario}}$</p>
						</li>
					</ul>
					<h5> Total price: </h5>
					<p>{{order.TotalMerc}}</p>
		  			<button type="button" ng-click="erp.newReceipt(order)"> Generate receipt </button>
				</li>      
			</div>
		</div>
	</div>
</div>