<!-- end post-wrapper-top -->
<script text="javascript">

</script>

<div class="row">
  <div class="col-md-6" ng-hide="panel.isClient()">
	  <a class="dmbutton button large" href="#" ng-click="erp.setModal()"><i class="fa fa-download"></i> Manage Receipts</a>
  </div>
  <div class="col-md-6">
  	<ul class="list-group">
		<li class="list-group-item" ng-repeat="receipt in erp.receipts" ng-show="true">
			<h5>Receipt:</h5>
			<strong>From </strong>{{receipt.from}}<strong> To </strong>{{receipt.Entidade}} <br/>
			<strong> Total price: </strong>{{receipt.TotalMerc}}€
			<h5>Products:</h5>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="product in receipt.LinhasDoc">
					<strong>Name: </strong>{{product.DescArtigo}}
					<strong> Quantity: </strong>{{product.Quantidade}}
					<strong> Unit price: </strong>{{product.PrecoUnitario}}€
				</li>
			</ul>
		</li>
	</ul>
  </div>
</div>

<div class="modal fade" id="newReceiptModal" tabindex="-1" role="dialog" aria-labellebdy="newReceiptLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
	  		<div class="modal-header">
	    		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	    		<h4 class="modal-title" id="newReceiptLabel">Pending orders</h4>
	 		</div>
	  		<div class="modal-body">
	    		<li class="list-group-item" ng-repeat="order in erp.orders" ng-if="order.state == 'pending'">
					<h5>Order:</h5>
					<strong>From </strong>{{order.from}}<strong> To </strong>{{order.Entidade}} <br/>
					<strong> Total price: </strong>{{order.TotalMerc}}€
					<h5>Products:</h5>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="product in order.LinhasDoc">
							<strong>Name: </strong>{{product.DescArtigo}}
							<strong> Quantity: </strong>{{product.Quantidade}}
							<strong> Unit price: </strong>{{product.PrecoUnitario}}€
						</li>
					</ul>
		  			<button type="button" ng-click="erp.newReceipt(order)"> Generate receipt </button>
				</li>      
			</div>
		</div>
	</div>
</div>