<blockquote ng-repeat="order in erp.orders">
	<b>From </b>{{order.companyFrom.name}}<b> To </b>{{order.companyTo.name}}<br/>
	<cite>{{order.product.name}}</cite>
</blockquote>

<form name="orderForm" ng-submit="erp.addOrder()">
	<label>from:</label>
	<select ng-model="erp.order.companyFrom" ng-options="company.name for company in erp.companies"></select>
	<label>to:</label>
	<select ng-model="erp.order.companyTo" ng-options="company.name for company in erp.companies"></select>
	<label>product:</label>
	<select ng-model="erp.order.product" ng-options="product.name for product in erp.products"></select>
	<input type="submit" value="Submit" />
</form>